body {
  background-color: #faf2f2;
}

h1 {
  color: #7d5a5a;
  font-family: fangsong;
}

h3 {
  color: #7d5a5a;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
